<h1>Nuevo Contacto</h1>
<form action="/nuevo" method="POST">
  <input name="nombres" placeholder="Nombres" required><br>
  <input name="apellidos" placeholder="Apellidos" required><br>
  <input type="date" name="fecha_nacimiento" required><br>
  <input name="direccion" placeholder="Dirección"><br>
  <input name="celular" placeholder="Celular"><br>
  <input name="correo" placeholder="Correo"><br>
  <button type="submit">Guardar</button>
</form>
<a href="/">Volver</a>
