<%- include('layout', { body: null }) %>
<h2>Agregar Producto</h2>
<form action="/add" method="POST">
<label>Nombres: <input type="text" name="Nombres"
required></label> <br>
<label>Apellidos: <input type="text" name="Apellidos"
required></label><br>
<label>Fecha de Nacimiento: <input type="date" name="Fecha_Nacimiento"
required></label><br>
<label>Direccion: <input type="text" name="Direccion"
required></label><br>
<label>Celular: <input type="text" name="Celular"
required></label><br>
<label>Correo: <input type="email" name="Correo"
required></label><br>
<button type="submit">Guardar</button>
</form>